$primary:#FFAB5B !default;
$gray-100: #9b9fa6 !default;
$gray-200: #2c2e36 !default;
$gray-300: #181b20 !default;
$white: #ffffff !default;
$black: #030712 !default;
.bg-primary {
  background-color: $primary !important;
}
.bg-gray-200 {
  background-color: $gray-200 !important;
}
.bg-gray-300 {
  background-color: $gray-300 !important;
}
.text-primary {
  color: $primary !important;
}
.text-gray-100 {
  color: $gray-100 !important;
}

.btn {
  font-weight: 400;
  padding: 10px 35px;

  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}
.btn-primary {
  color: $white;
  background-color: $primary;
  box-shadow: none;
  border: 1px solid $primary;
  &:hover,
  &:focus,
  &.active {
    color: $primary;
    background-color: $white;
    border: 1px solid $primary;
  }
}
@font-face {
  font-family: "AbhayaLibre";
  font-style: normal;
  font-weight: 500;
  src: url(../../fonts/AbhayaLibre-Medium.ttf) format("truetype");
  font-display: swap;
}
.link-info {
    color: $primary !important;
}
.fs-24 {
    font-size: 24px !important;
    @media (max-width: 575px) {
        font-size: 20px !important;
    }
}
.fs-16 {
    font-size: 16px;
    @media (max-width: 575px) {
        font-size: 14px !important;
    }
}
body {
  font-family: "Poppins";
  font-weight: 400;
  background-color: #f8ab5b1c !important;
  &.modal-open {
    padding-right:0!important;
  }
}
.px-30 {
  padding-left: 30px;
  padding-right: 30px;
  @media (max-width: 575px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.mb-30 {
  margin-bottom: 30px;
}
.banner-section {
  .banner-img {
    position: relative;
    height: 350px;
    width: 100%;
    @media (max-width: 575px) {
      height: 300px;
    }
    .overlay{

            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            width: 100%;
            height: 50%;
            background-image: linear-gradient(rgba(2, 7, 14, 0), rgba(2, 7, 14, 1));

    }

  }
}
.profile-section {
  position: relative;
  bottom: 0;
  .card {
    position: relative;
    background-color: transparent !important;
    border: none;
    .card-img {
      border-radius: 50%;
      min-width: 160px;
      width: 160px;
      height: 160px;
      border: 5px solid $primary;
      overflow: hidden;
      @media (max-width: 575px) {
        margin-right: 0;
        min-width: 130px;
    width: 130px;
    height: 130px;
      }
    }
    .card-body {
      padding-bottom: 0;
      .profile-name {
        position: relative;
      }
    }
  }
  .social-media {
    .social-media-icons {
        display:flex;
        justify-content:center;
        align-items:center;
        flex-wrap: wrap;
        gap:15px;
    .social-icon {
    width: 45px;
    height: 45px;
    min-width: 45px;
    border-radius: 50%;
      background-color: $primary;
      border:1px solid $primary;
      display:flex;
      justify-content:center;
      align-items:center;
      transition: .3s all ease-in-out;
      a {
        display: flex;
        color:$white;
        svg,
        img {
          width: 20px;
          height: 20px;
          fill:$white;
          color:$white;
          font-size:20px;
        }
      }
&:hover {
    background-color: $gray-200;
    border:1px solid #5a5a5a;
    a{
        svg, img{
            fill:$primary;
            color:$primary;
        }
    }
}
    }
    }
  }
}

.section-heading {
    font-family: "AbhayaLibre";
  h2 {
    font-size: 36px;
    font-weight: 400;
    position: relative;
    display: inline-block;
    @media (max-width: 575px) {
      font-size: 32px;
    }
    &:after {
      content: "";
      position: absolute;
      bottom: -4px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 33%;
      height: 3px;
      border-radius: 3px;
      background-color: $primary;
    }
  }
}

.contact-section {
  position: relative;
  background-image: url("../../../public/assets/img/vcard20/theme-bg-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .contact-bg-img {
    position: absolute;
    text-align: end;
    top: -170px;
    right: 0;
    img {
      @media (max-width: 575px) {
        width: 60%;
      }
    }
  }
  .contact-box {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2d2e36;
    border-radius: 15px;
    position:relative;
    &::after, &::before {
      position: absolute;
      content: " ";
      width: 60px;
      height: 60px;
      border-style: solid;
      border-color: $primary;
    }
    &::before {
      top: -3px;
      left: -3px;
      border-top-left-radius: 18px;
      border-width: 1px 0 0 1px;
    }
    &::after {
      right: -3px;
      bottom: -3px;
      border-bottom-right-radius: 18px;
      border-width:0 1px 1px 0;
    }
    .contact-icon {
      width: 36px;
      min-width: 36px;
      height: 36px;
      background-color: $gray-200;
      border: 1px solid #5a5a5a;
      border-radius: 10px;
      margin-bottom: 10px;
    }
    .contact-desc {
      a {
        word-break: break-all;
      }
    }
  }
}
.gallery-section {
  position: relative;
  background-image: url("../../../public/assets/img/vcard20/theme-bg-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .gallery-bg-img {
    position: absolute;
    text-align: end;
    top: 20px;
    right: 30px;
    @media (max-width: 575px) {
      top: 25px;
      right: 20px;
    }
    img {
      @media (max-width: 575px) {
        width: 60%;
      }
    }
  }
  .gallery-slider {
    margin-left: -10px;
    margin-right: -10px;
    .slick-slide {
        padding:4px 10px;
    }
    .gallery-img,.gallery-item {
      margin: 0 auto;
      max-width: 100%;
      max-height: 310px;
      height: 310px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-color: #2c2e36;
      border-radius:20px;
      padding:20px;
      position:relative;
      &::after, &::before {
        position: absolute;
        content: " ";
        width: 100px;
        height: 100px;
        border-style: solid;
        border-color: $primary;
      }
      &::before {
        top: -3px;
        left: -3px;
        border-top-left-radius: 23px;
        border-width: 1px 0 0 1px;
      }
      &::after {
        right: -3px;
        bottom: -3px;
        border-bottom-right-radius: 23px;
        border-width:0 1px 1px 0;
      }
      @media (max-width: 500px) {
        max-height: 240px;
        height: 240px;
      }
      img,
      iframe {
        width: 100%;
        object-fit: contain;
        height: 100%;
      }
    }
    .slick-dots {
      position: relative;
      bottom: -15px;
    }
  }
}
.our-services-section {
  position: relative;
  .services-bg-img {
    position: absolute;
    top: 20px;
    left: 5px;
    @media (max-width: 575px) {
      left: 0px;
    }
    img {
      @media (max-width: 575px) {
        width: 60%;
      }
    }
  }
  .services {
    .service-card {
      padding: 25px;
      border-radius: 20px;
      border: 0;
      background-color: $gray-200;
      position:relative;
      &::after, &::before {
        position: absolute;
        content: " ";
        width: 100px;
        height: 100px;
        border-style: solid;
        border-color: $primary;
      }
      &::before {
        top: -3px;
        left: -3px;
        border-top-left-radius: 23px;
        border-width: 1px 0 0 1px;
      }
      &::after {
        right: -3px;
        bottom: -3px;
        border-bottom-right-radius: 23px;
        border-width:0 1px 1px 0;
      }
      .card-img {
        margin: 0 auto;
        width: 60px;
        height: 60px;
        border-radius: 10px;
        overflow: hidden;
        border: 5px solid #c9a6648c;
      }
      .card-body {
        .card-desc {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }
    }

    .services-slider-view {
        margin-left: -10px;
        margin-right: -10px;
        .service-card {
            border-radius: 20px;
            background-color: #f8ab5b38;
            color: $white;
            padding: 20px;
            display: flex;
            align-items: start;
            flex-direction: column;
            gap: 10px;
            .card-title {
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                color: $black;
                min-height: 48px;
            }
            .description-text {
                font-size: 14px;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                overflow: hidden;
                min-height: 84px;
            }
            .img {
                display: block;
                width: 100%;
                height: 100%;
                border: 1px solid black;
                border-radius: 20px;
                img {
                    border-radius: 20px !important;
                    width: 100%;
                    height: 220px;
                    object-fit: contain;
                    @media (max-width: 575px) {
                        height: 180px;
                    }
                }
            }
        }
         .slick-slide {
            padding: 4px 10px;
        }

        .slick-dots {
            bottom: -20px !important;
        }
    }
  }
}
.testimonial-section {
  position: relative;
  background-image: url("../../../public/assets/img/vcard20/testimonial-main-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .testimonial-bg-img {
    position: absolute;
    text-align: end;
    top: 30px;
    right: 25px;
    @media (max-width: 575px) {
      right: 20px;
    }
    img {
      @media (max-width: 575px) {
        width: 60%;
      }
    }
  }
  .testimonial-slider {
    margin-left: -10px;
    margin-right: -10px;
    .slick-slide {
        padding: 4px 10px;
    }
    .testimonial-bg {
        position:absolute;
        width:100%;
        height:100%;
        z-index:-1;
    }
    .testimonial-card {
      position: relative;
      margin: 35px auto 0 auto;
      background-color: #2c2e36;
      border-radius: 20px;
      padding: 46px 20px 20px 20px;
      &::after, &::before {
        position: absolute;
        content: " ";
        width: 100px;
        height: 100px;
        border-style: solid;
        border-color: $primary;
      }
      &::before {
        top: -3px;
        left: -3px;
        border-top-left-radius: 23px;
        border-width: 1px 0 0 1px;
      }
      &::after {
        right: -3px;
        bottom: -3px;
        border-bottom-right-radius: 23px;
        border-width:0 1px 1px 0;
      }
      .card-img {
        width: 60px;
        height: 60px;
        min-width: 60px;
        border-radius: 10px;
        border: 1px solid #5a5a5a;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: -32px;
        overflow: hidden;
      }
      .card-body {
        h6{
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            min-height: 48px;
        }
        p {
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          overflow: hidden;
          min-height: 84px;
        }
      }
    }
  }
  .slick-prev,
  .slick-next {
    position: absolute;
    opacity: 1 !important;
    width: 40px;
    z-index: 2;
    top: 55%;
    @media (max-width: 575px) {
      display: none;
    }
  }
  .slick-next {
    right: 40px;
    @media (max-width: 768px) {
      right: 20px;
    }
    &:before {
    //   content: url(../images/food-services/right-arrow.svg);
      opacity: 1 !important;
    }
  }
  .slick-prev {
    left: 40px;
    @media (max-width: 768px) {
      left: 20px;
    }
    &:before {
      opacity: 1 !important;
    //   content: url(../images/food-services/left-arrow.svg);
    }
  }
}
.product-section {
  position: relative;
  .product-bg-img {
    position: absolute;
    top: -80px;
    left: 25px;
    @media (max-width: 575px) {
      top: -30px;
      left: 20px;
    }
    img {
      @media (max-width: 575px) {
        width: 60%;
      }
    }
  }
  .product-slider {
   margin-left: -10px;
   margin-right: -10px;
    .slick-slide {
      padding: 4px 10px;
    }
    .product-card {
      background-color: $gray-200;
      margin: 0 auto;
      border-radius: 20px;
      box-shadow: none;
      padding:25px;
      min-height: 230px !important;
      position:relative;
      &::after, &::before {
        position: absolute;
        content: " ";
        width: 100px;
        height: 100px;
        border-style: solid;
        border-color: $primary;
      }
      &::before {
        top: -4px;
        left: -4px;
        border-top-left-radius: 23px;
        border-width: 1px 0 0 1px;
      }
      &::after {
        right: -4px;
        bottom: -4px;
        border-bottom-right-radius: 23px;
        border-width:0 1px 1px 0;
      }
      .product-img {
        width: 100%;
        height: 140px;
        min-width: 100%;
        border-radius: 20px;
        border:2px solid $white;
        overflow: hidden;
        margin: 0 auto 20px auto;
        img{
            object-fit: contain;
        }
      }
      .product-desc {
        h3,
        p {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          min-height: 48px;
        }
      }
    }
  }
}
.appointment-section {
  position: relative;
  .appointment-bg-img {
    position: absolute;
    text-align: end;
    top: 40px;
    right: 30px;
    @media (max-width: 575px) {
      top: 80px;
      right: 20px;
    }
    img {
      @media (max-width: 575px) {
        width: 60%;
      }
    }
  }
  .appointment {
    .date-input {
        &::after, &::before {
            position: absolute;
            content: " ";
            width: 30px;
            height: 30px;
            border-style: solid;
            border-color: $primary;
          }
          &::before {
            top: -3px;
            left: -3px;
            border-top-left-radius: 15px;
            border-width: 1px 0 0 1px;
          }
          &::after {
            right: -3px;
            bottom: -3px;
            border-bottom-right-radius: 15px;
            border-width:0 1px 1px 0;
          }
    }
    .appointment-input {
      width: 100%;
      height: 50px;
      padding: 12px 25px;
      background-color: $gray-200;
      border: 1px solid $gray-200;
      border-radius: 10px;
      color: $white;
      position:relative;
      &::placeholder {
        color: $white;
      }
      &:focus {
        box-shadow: none;
        outline: none;
      }
    }
    .calendar-icon {
      position: absolute;
      right: 18px;
      top: 11px;
    }
    .appoint-input {
        position:relative;
        &::after, &::before {
            position: absolute;
            content: " ";
            width: 30px;
            height: 30px;
            border-style: solid;
            border-color: $primary;
          }
          &::before {
            top: -3px;
            left: -3px;
            border-top-left-radius: 15px;
            border-width: 1px 0 0 1px;
          }
          &::after {
            right: -3px;
            bottom: -3px;
            border-bottom-right-radius: 15px;
            border-width:0 1px 1px 0;
          }
    }
  }
}


.blog-section {
  .blog-slider {
    .slick-slide {
      padding: 4px 10px;
    }
    .blog-card {
      border: none;
      background-color: #2c2e36;
      border-radius: 20px;
      margin: 0 auto;
      padding: 20px;
      position:relative;
      &::after, &::before {
        position: absolute;
        content: " ";
        width: 100px;
        height: 100px;
        border-style: solid;
        border-color: $primary;
      }
      &::before {
        top: -3px;
        left: -3px;
        border-top-left-radius: 23px;
        border-width: 1px 0 0 1px;
      }
      &::after {
        right: -3px;
        bottom: -3px;
        border-bottom-right-radius: 23px;
        border-width:0 1px 1px 0;
      }
      .card-img {
        width: 100%;
        height: 240px;
        border-radius: 20px;
        border: 1px solid $gray-200;
        overflow: hidden;
      }
      .card-body {
        max-height:154px;
        min-height:100%!important;
        overflow:hidden;
        p {
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          color: white !important;
        }
        .blog-head {
            line-height: normal;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
      }
    }
  }
}
.business-hour-section {
  position: relative;
  background-image: url("../../../public/assets/img/vcard20/theme-bg-3.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .hour-bg-img {
    position: absolute;
    text-align: end;
    bottom: -20px;
    right: 10px;

    img {
      @media (max-width: 575px) {
        width: 60%;
      }
    }
  }
  .business-hours {
    padding:10px;
    background-color: #2c2e36;
    border-radius:10px;
    position: relative;
    &::after, &::before {
        position: absolute;
        content: " ";
        width: 30px;
        height: 30px;
        border-style: solid;
        border-color: $primary;
      }
      &::before {
        top: -3px;
        left: -3px;
        border-top-left-radius: 13px;
        border-width: 1px 0 0 1px;
      }
      &::after {
        right: -3px;
        bottom: -3px;
        border-bottom-right-radius: 13px;
        border-width:0 1px 1px 0;
      }
    span {
      font-size: 16px;
      color: $white;
      font-weight: 500;
      @media (max-width: 575px) {
        font-size: 14px;
      }
    }
  }
}
.qr-code-section {
  position: relative;
  .qr-code-bg-img {
    position: absolute;
    top: 0px;
    left: 0;

    img {
      @media (max-width: 575px) {
        width: 60%;
      }
    }
  }
  .qr-code {
    width: 180px;
    height: 180px;
    min-width: 180px;
    border-radius: 20px;
    background-color: #2d2e36;
    position:relative;
    &::after, &::before {
      position: absolute;
      content: " ";
      width: 100px;
      height: 100px;
      border-style: solid;
      border-color: $primary;
    }
    &::before {
      top: -3px;
      left: -3px;
      border-top-left-radius: 23px;
      border-width: 1px 0 0 1px;
    }
    &::after {
      right: -3px;
      bottom: -3px;
      border-bottom-right-radius: 23px;
      border-width:0 1px 1px 0;
    }
    .qr-code-img {
      width: 120px;
      height: 120px;
      min-width: 120px;
    }
  }
}
.contact-us-section {
  position: relative;
  .contact-us-bg-img {
    position: absolute;
    top: -75px;
    left: 25px;
    @media (max-width: 575px) {
      left: 5px;
    }
    img {
      @media (max-width: 575px) {
        width: 60%;
      }
    }
  }
  .contact-form {
    padding:30px 25px;
    border-radius:15px;
    background-color: #2c2e36;
    position:relative;
    &::after, &::before {
      position: absolute;
      content: " ";
      width: 100px;
      height: 100px;
      border-style: solid;
      border-color: $primary;
    }
    &::before {
      top: -3px;
      left: -3px;
      border-top-left-radius: 18px;
      border-width: 1px 0 0 1px;
    }
    &::after {
      right: -3px;
      bottom: -3px;
      border-bottom-right-radius: 18px;
      border-width:0 1px 1px 0;
    }
    form {
      .form-control {
        background-color: transparent;
        padding: 0;
        height: 50px;
        border-radius: 0;
        border: 0;
        border-bottom: 1px solid $primary;
        color: $gray-100;
        &::placeholder {
          color: $gray-100;
        }
        &:focus {
          box-shadow: none;
          outline: none;
        }
      }
    }
  }
}
.create-vcard-section {
    background-image: url("../../../public/assets/img/vcard20/theme-bg-2.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  .vcard-link-card {
    background-color: $gray-200;
    padding: 20px;
    border-radius:15px;
    border: none;
    position:relative;
    &::after, &::before {
      position: absolute;
      content: " ";
      width: 40px;
      height: 40px;
      border-style: solid;
      border-color: $primary;
    }
    &::before {
      top: -3px;
      left: -3px;
      border-top-left-radius: 18px;
      border-width: 1px 0 0 1px;
    }
    &::after {
      right: -3px;
      bottom: -3px;
      border-bottom-right-radius: 18px;
      border-width:0 1px 1px 0;
    }

    .link-text {
      font-size: 18px;
      word-break: break-all;
      @media (max-width: 575px) {
        font-size: 16px;
      }
    }
  }
}
.add-to-contact-section {
  position: fixed;
  width: 100%;
  bottom: 60px;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 40px;
}
.add-contact-btn {
    width: 200px !important;
    width: 250px !important;
    margin: 0 auto;
    color: #ffffff;
    z-index: 9999;
    padding: 5px;

    i {
        font-size: 1rem;
    }
}
.btn-section {
  .fixed-btn-section {
    .food-services-bars-btn {
      background-color: $primary;
    }
    .sub-btn {
      .food-services-sub-btn {
        background-color: $gray-200;
        i {
          color: $primary;
        }
      }
    }
  }
}


// custom scss code

.px-30 {
    padding-left: 30px;
    padding-right: 30px;
    @media (max-width: 575px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .fs-12 {
    font-size: 12px;
  }
  .fs-14 {
    font-size: 14px;
  }
  .fs-18 {
    font-size: 18px;
    @media (max-width: 575px) {
      font-size: 16px;
    }
  }
  .fs-20 {
    font-size: 20px;
  }
  .mt-10 {
    margin-top: 10px;
  }
  .mt-40 {
    margin-top: 40px;
    @media (max-width: 575px) {
      margin-top: 30px;
    }
  }
  .mb-40 {
    margin-bottom: 40px;
    @media (max-width: 575px) {
      margin-bottom: 30px;
    }
  }
  .mx-30 {
    margin-left: 30px;
    margin-right: 30px;
    @media (max-width: 575px) {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
  .mb-20 {
    margin-bottom: 20px;
  }
  .mb-10 {
    margin-bottom: 10px;
  }
  .pb-50 {
    padding-bottom: 50px;
    @media (max-width: 575px) {
      padding-bottom: 40px;
    }
  }
  .pt-40 {
    padding-top: 40px;
    @media (max-width: 575px) {
      padding-top: 25px;
    }
  }
  .pb-40 {
    padding-bottom: 40px;
    @media (max-width: 575px) {
      padding-bottom: 25px;
    }
  }
  .pt-60 {
    padding-top: 60px;
    @media (max-width: 575px) {
      padding-top: 40px;
    }
  }
  .pb-60 {
    padding-bottom: 60px;
    @media (max-width: 575px) {
      padding-bottom: 40px;
    }
  }
  .pt-30 {
    padding-top: 30px;
    @media (max-width: 575px) {
      padding-top: 20px;
    }
  }
  .pb-30 {
    padding-bottom: 30px;
    @media (max-width: 575px) {
      padding-bottom: 20px;
    }
  }
  .pt-50 {
    padding-top: 50px;
    @media (max-width: 575px) {
      padding-top: 40px;
    }
  }
  .pt-80 {
    padding-top: 80px;
    @media (max-width: 575px) {
      padding-top: 40px;
    }
  }
  .pb-80 {
    padding-bottom: 80px;
    @media (max-width: 575px) {
      padding-bottom: 40px;
    }
  }
  .px-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .fw-5 {
    font-weight: 500;
  }
  .fw-6 {
    font-weight: 600;
  }
  .fw-7 {
    font-weight: 700;
  }
  .fs-12 {
    font-size: 12px;
  }
  .fs-36 {
    font-size: 36px;
    @media (max-width: 575px) {
      font-size: 30px;
    }
  }
  .fs-30 {
    font-size: 30px;
    @media (max-width: 575px) {
      font-size: 28px;
    }
  }
  .fs-28 {
    font-size: 28px;
    @media (max-width: 575px) {
      font-size: 24px;
    }
  }
  a {
    text-decoration: none;
  }
  .main-content {
    max-width: 650px !important;
    min-height: 100vh;
    border-radius: 15px;
    position: relative;
    margin-top: 4px;
    margin-bottom: 4px;
  }
  .object-fit-cover {
    object-fit: cover;
  }
  .flex-1 {
    flex: 1;
  }
  .cursor-pointer {
    cursor: pointer;
  }
  .btn-section {
    position: absolute;
    top: 50%;
    right: 80px;
    z-index: 9;
    .fixed-btn-section {
      position: fixed;
      top: 50%;
      display: flex;
      align-items: center;
      .bars-btn {
        width: 65px;
        height: 65px;
        min-width: 65px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .sub-btn {
        position: absolute;
        right: 75px;
        display: none;
        .social-btn {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          i {
            font-size: 24px;
          }
        }
      }
    }
  }

.send-btn{
    height: 40px;
    width: 250px !important;
}

.z-index-9 {
    z-index:9;
}

//language btn
.language {
    ul {
        list-style: none;

        .lang-list {
            padding: 5px 12px;
            background: $primary;
            border: none;
            outline: none;
            border-radius: 6px;
            transition: all 0.3s ease;
            width: -moz-fit-content;
            width: fit-content;

            .lang-head {
                color: $white;

                i {
                    color: $white;
                }
            }

            .lang-hover-list {
                margin: 15px 0 0;
                font-size: 15px;
                width: 100%;
                right: 0;
                min-width: 75px;

                li {
                    padding: 5px 10px;

                    &:hover ,&.active {
                        background-color: #f7efe4 !important;

                        a {
                            color: $primary !important;
                        }
                    }

                    a {
                        color: #5e6278 !important;
                        text-decoration: none;
                        font-size: 14px;
                    }

                    img {
                        height: 20px !important;
                        width: 25px !important;
                    }
                }
            }
        }
    }
}
.vcard20-sticky-btn {
    background: $primary;
    color: #ffffff;
    border: 1px solid $primary;
    border-radius: 5px;
    height: 40px;
}

.vcard20-btn-group {
    width: 50px;
    height: 50px;
    color: $primary;
    background-color: $white;
    border-radius: 50px !important;
}
.vcard-twenty {
    &.main-content {
        max-width: 650px;
        min-height: 100vh;
        text-align: center !important;
        background-color: white;
        color: #030712;
        margin-top: 4px;
        margin-bottom: 4px;
        border-radius: 15px;
    }

    .vcard-twenty-heading {
        font-weight: 500;
        font-size: 28px;
        color: $primary;
    }
}
.vcard-twenty-btn {
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: $primary;
    color: #f1faff;
    border-radius: 5px;
    transition: all 0.3s ease;
    width: fit-content;
}
.activeSlot {
    background: $primary !important;
    color: #ffffff !important;
    padding: 11px;
    height: 50px;
    width: 100% !important;
    cursor: pointer;
}
.time-slot {
    background: #2c2e36;
    color: #ffffff !important;
    padding: 0px;
    height: 50px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    cursor: pointer;
    &:hover {
        border: 1px solid #2c2e36;
    }
}
.slick-dotted.slick-slider {
    margin-bottom: 10px;
  }
  .slick-dots {
    position: relative;
    bottom: -15px;
    li {
      margin: 0 5px !important;
      width: 8px !important;
      height: 8px !important;
      button {
        width: 8px !important;
        height: 8px !important;
        font-size: 0 !important;
        &:before {
          font-size: 0 !important;
          width: 8px !important;
          height: 8px !important;
          border-radius: 10px;
          background-color: #667270;
        }
      }
      &.slick-active {
        width: 30px !important;
        button {
          width: 30px !important;
          &:before {
            opacity: 1;
            width: 30px !important;
            background-color: $primary;
          }
        }
      }
    }
  }
.z-index-10 {
    z-index: 10;
}
.product-btn {
    padding: 10px 20px;
    background: $primary;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: all 0.3s ease;

    &:hover {
        background-color: transparentize($primary, 0.1);
    }
}
.product-box{
    margin: 15px
}
.product-amount
{
    color: $primary;
}
.mw-75{
    max-width: 75% !important;
}
.audio-control{
    @media (max-width: 580px) {
      margin-top: -45px !important;
    }
}
.modal-backdrop {
    background-color: transparent;
}
.modal {
    z-index:99999 !important;
    background-color: #00000080;
    .news-modal {
        #newsLatter-content{
            .form-control{
                padding: .375rem .75rem !important;
                font-size: 0.875rem !important;
            }
            box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
            border: none;
            border-radius: 0.475rem;
            outline: 0;
            background-color: white;
            .newsmodal-header {
                .btn-close{
                    background: transparent
                    url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ADB5BD'%3E%3Cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3E%3C/svg%3E")
                    50%/1em auto no-repeat;
                    position: absolute !important;
                    right: 16px !important;
                    top: 16px !important;
                    z-index: 1 !important;
                }
                .newsmodal-title{
                    font-size: 50px;
                    text-align: center !important;
                    color: $primary;
                }
            }
            .modal-body {
                padding: 1.75rem;
                .content{
                    color: $primary;
                    font-size: 23px;
                }
                .modal-desc{
                    color: silver;
                    font-size: 16px;
                    font-weight: 400;
                }
                .email-input{
                    border-radius: 8px !important;
                    .btn{
                        padding: 5px 10px !important;
                        border-radius: 8px !important;
                    }
                }
                .required {
                    &:after {
                        color: #f62947;
                        content: "*";
                        font-size: inherit;
                        font-weight: 700;
                        position: relative;
                    }
                }
                .input-box {
                    background-color: #f5f8fa;
                    border: unset;
                    color: #5e6278;
                    transition: all 0.2s ease;
                    font-size: 1.1rem;
                    line-height: 1.5;
                    padding: 0.75rem 1rem;
                    border-radius: 0.475rem;
                    &:focus {
                        box-shadow: unset;
                        background-color: #eef3f7;
                    }
                }
                .input-group{
                    margin-top: 15px;
                }
            }
            .modal-footer {
                padding: 1.875rem;
                border-top: none !important;
                .btn {
                    padding: 10px 20px !important;
                    border-radius: 0.475rem !important;
                }
                .submit-btn {
                    background-color: #6571ff!important;
                    border: unset;
                    outline: unset;
                    color:$white;
                    padding: 10px 20px !important;
                    margin-top: 26px;
                    &:hover {
                        background-color: #6571ff!important;
                    }
                    &:focus {
                        box-shadow: unset;
                    }
                }
            }
        }
    }
}
#email-send{
    background: $primary;
    color: white !important;
    font-size: 15px;
    border: none;
    border-radius: 8px;
}
.animate-bottom {
    position: relative;
    animation: animatebottom 0.4s;
  }

  @keyframes animatebottom {
    from {
      bottom: -300px;
      opacity: 0;
    }

    to {
      bottom: 0px;
      opacity: 1;
    }
  }
.insta-feed{
    max-height: 1000px!important;
    overflow: auto !important;
}
.insta-feed::-webkit-scrollbar {
    width: 0px; /* Adjust the width as needed */
}

.insta-feed::-webkit-scrollbar-thumb {
    background-color: #181b20 !important;
}

.insta-feed::-webkit-scrollbar-track {
    background-color: #181b20    !important;
}
.insta-feed-iframe iframe {
    border-radius: 15px !important;
    border: none !important;
    margin: 0 !important;
    max-width: 100% !important;
    width: 100% !important;
    min-width: 1px !important;
}
.instagram-btn{
    flex:1;
    position: relative;
    background: transparent;
    &::before {
        content: '';
        position: absolute;
        width: 0%;
        height: 2px;
        top: 100%;
        background-color: $primary;
        transition: width 0.3s ease;
    }
    &.active::before {
        width: 80%;
    }
    .svg-post-icon rect, .svg-post-icon line {
        stroke: $primary;
    }
    &.active .svg-post-icon rect, &.active .svg-post-icon line{
        fill: $primary;
        stroke: #181a20;
    }
    .svg-reels-icon .not-active-svg {
        display: block;
    }
    .svg-reels-icon .active-svg {
        display: none;
    }
    .svg-reels-icon path.not-active-svg, .svg-reels-icon rect {
        fill: $primary;
    }
    .svg-reels-icon path {
        fill: $primary;
    }
    &.active .svg-reels-icon .not-active-svg, &.active .svg-reels-icon rect {
        display: none;
    }
    &.active .svg-reels-icon .active-svg {
        display: block;
    }
}
.insta-toggle
{
    border-radius: 35px !important;
    transition: all 0.3s ease !important;
}
#instafeed-container{
    a img{
        width: 44%;
        height: 200px !important;
        margin: 11px;
        border-radius: 15px;
    }
}
.insta-feed-iframe {
    position: relative;
    padding: 10px;
    margin: 3px;
    background-color:#2d2e36;
    border-radius: 20px;
    &::after, &::before {
      position: absolute;
      content: " ";
      width: 100px;
      height: 100px;
      border-style: solid;
      border-color: $primary;
    }
    &::before {
      top: -3px;
      left: -3px;
      border-top-left-radius: 23px;
      border-width: 1px 0 0 1px;
    }
    &::after {
      right: -3px;
      bottom: -3px;
      border-bottom-right-radius: 23px;
      border-width:0 1px 1px 0;
    }
}

.support-banner {
    width: 100%;
    max-width: 586px;
    height: auto !important;
    // height: 300px !important;
    position: fixed;
    bottom: 20px;
    z-index: 99999 !important;
    background: white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0 7px 8px 0 #848181, 0 0px 11px 0 #000000;
  left: 0;
  right: 0;
  margin: 0 auto;

    .support_heading{
        font-size: 27px;
        margin-top: 30px;
    }
    .support_text{
        margin-bottom: 22px;
        max-height: 123px !important;
        overflow-x: hidden;
        overflow-y: scroll;
        margin-top: 13px;
        &::-webkit-scrollbar {
            width: 4px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background: #888;
        }
    }
}

@media (max-width: 767px) {
    .support-banner {
        max-width: 476px !important;
    }
}

@media (max-width: 575px) {
    .support-banner {
        max-width: 100% !important;
    }
}

.act-now{
    padding: 7px 21px;
    background: $primary;
    border: none;
    outline: none;
    transition: all 0.3s ease;
    transform: translateY(0);
    text-decoration: none;
    color: white !important;
    position: relative;
    bottom: 10px;
    display:inline-block !important;
    border-radius: 15px;
}

.banner-close {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 20px !important;
    background: none;
    border: none;
}
.iframe-slider {
    .iframe-wrapper {
        border-radius: 20px;
    padding: 15px;
    position: relative;
    background-color: #2d2e36;
        &::after, &::before {
          position: absolute;
          content: " ";
          width: 100px;
          height: 100px;
          border-style: solid;
          border-color: $primary;
        }
        &::before {
          top: -3px;
          left: -3px;
          border-top-left-radius: 23px;
          border-width: 1px 0 0 1px;
        }
        &::after {
          right: -3px;
          bottom: -3px;
          border-bottom-right-radius: 23px;
          border-width:0 1px 1px 0;
        }
    }
    .iframe-card {
      margin: 0 auto;
      width: 100%;
      height: 365px;
      overflow: hidden;
      border-radius:10px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      @media (max-width: 500px) {
        max-width: 315px;
        max-height: 200px;
        height: 200px;
      }
      iframe {
        background-color: white !important;
      }
    }
    .slick-dots {
      position: relative;
      bottom: -15px;
    }
  }
  .verification-icon{
       color: $primary;
   }
   .main-content.rtl {
    .lang-hover-list{
        left: 0;
    }
    .ms-3 {
        margin-right: 1rem !important;
        margin-left: 0 !important;
    }
    .calendar-icon {
        left: 18px;
        right: auto;
    }
    @media (min-width: 576px) {
        .flex-sm-row {
            flex-direction: row-reverse !important;
        }
        .text-sm-start {
            text-align: right !important;
        }
    }
        .text-start {
            text-align: right !important;
        }
}


.btn-section.rtl {
    right: auto !important;
    left: 15px !important;
}

.btn-section.rtl {
    right: auto !important;
    left: 15px !important;
}


.modal-content[dir='rtl'] {
    .pl-50{
      padding-right:50px;
      }
      .text-center {
      text-align:start !important;
      }
      .arrow {
        transform: rotate(180deg) !important;
    }
    .input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
      border-bottom-left-radius: 0 !important;
      border-top-left-radius: 0 !important;
      border-top-right-radius:0.313rem !important;
      border-bottom-right-radius:0.313rem !important;
  }
  .input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not( .valid-feedback ):not(.invalid-tooltip):not(.invalid-feedback) {
      border-bottom-right-radius: 0 !important;
      border-top-right-radius: 0 !important;
      border-top-left-radius:0.313rem !important;
      border-bottom-left-radius:0.313rem !important;
  }
  }
.toast-title {
    margin-right: 12px;
 }
.toast-message{
    margin-right: 12px;
}

.input-box {
    padding: 20px;
    display: grid;
    place-items: center;
    border-bottom: 1px solid $primary !important;
    margin-bottom: 5px;
    cursor: pointer;
}

.input-box h4 {
    margin: 0;
    color:#abb1bd !important;
    font-size: medium !important;
}

.file-list li {
    color: #abb1bd !important;
}

 .selected-files .item {
    border-bottom: 1px solid $primary !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
 }

 .file-list .name {
    flex-grow: 1;
  }

  .file-list .remove {
    margin-left: 8px;
    cursor: pointer;
    color: red;
  }

  .file-list .remove svg {
    width: 16px;
    height: 16px;
  }

 .selected-files h5 {
    color:#ffffff !important;
    font-size: medium !important;
    margin-top: 9px !important;
    margin-bottom: 10px !important;
}

small {
    font-size: 12px;
    color:$black !important;
}

.file-list {
    overflow-y: auto;
    list-style-type: none !important;
    padding: 0 0 10px 0;
    margin: 0;
    max-height: 220px;
    font-size: medium !important;
}

.modal {
    padding-right:0 !important;
    &.show {
        padding-right:0 !important;
        .modal-dialog {
            transform: translateY(35px) !important;
            @media (min-width: 576px) {
                    margin: 2.5rem auto !important;
                    max-width: 520px !important;
            }
        }
    }
    .modal-dialog {
        transform: translateY(95px) !important;
        &.modal-bottom {
height:87vh !important;
        }
    }
}

#newsLatterModal {
    .modal-dialog{
        @media (min-width:576px) {
            max-width: 420px !important;
            min-height: calc(100% - 5rem) !important;
            transform: none !important;
        }
    }
}
.product-img-slider {
    min-height: 160px !important;
    margin-bottom: 30px !important;
    margin-left: -10px;
    margin-right: -10px;
    width: 10;
    .slick-list{
        padding: 0 10px !important;
        width: 100%;
    }
    .slick-slide{
        width: 100%;
    }
}
.product-img-padding-20{
    position: relative;
}
.product-img-main-box {
    border-radius: 15px;
    min-height: 200px;
    height: 200px;
    max-width: 100%;
    width: 100%;
    border: 2px solid #ffffff;
    img{
        border-radius: 15px;
    }
}

.pwa-support {
    width: 100%;
    max-width: 400px;
    height: auto !important;
    position: fixed !important;
    bottom: 20px;
    z-index: 99999 !important;
    background: white;
    padding: 24px;
    border-radius: 32px;
    box-shadow: 0 7px 8px 0 #848181, 0 0px 11px 0 #000000;;
    left: 0;
    right: 0;
    margin: 0 auto;
    .pwa-heading{
        font-size: 20px;
        margin-bottom: 12px;
    }
    .pwa-text{
        margin-bottom: 16px;
        font-size: 0.875rem !important;
}
}
.pwa-install-button{
    background: $primary!important;
    color: $white !important;
    border-radius: 15px !important;
    padding: 0.563rem 1.563rem !important;
    font-size: 0.875rem !important;
    &:hover {
        background: $primary;
    }
}
.pwa-cancel-button{
    background-color: #adb5bd !important;
    color: #000000;
    border-radius: 15px !important;
    padding : 0.563rem 1.563rem;
    border : none !important;
    font-size: 0.875rem !important;
    &:hover{
        background-color:#d1d5db!important;
        border : none !important;
        color : #000000 !important;
    }
}
.youtube-link-20{
    padding-top: 56.25%;
    position: relative;
    z-index: 9 !important;
    iframe{
        position: absolute !important;
        top:0;
        left: 0 !important;
        height: 100% !important;
        width: 100 !important;
    }
}
.profile-desc{
    p{
        margin-bottom: 0 !important;
    }
}
.row-gap-30px{
    row-gap: 30px;
}
.row-gap-20px{
    row-gap: 20px;
}
.right-arrow-animation{
    animation: right-arrow 1s linear 1s infinite alternate;
}
@keyframes right-arrow {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(8px);
    }
}
.view-more{
    padding: 10px 25px 10px 15px;
    background: linear-gradient(45deg, #f8ab5b, #3da7fd0f, #f8ab5b);
    border: 1px solid $primary;
    border-radius: 10px;
    transition: .3s all ease-in-out;
    &:hover{
        background: linear-gradient(309deg, #f8ab5b, #3da7fd0f, #f8ab5b);
    }
}
.iframe-card{
    iframe{
        border: 2px solid $primary !important;
        border-radius: 15px !important;
        overflow: hidden;
    }
}
.vector-all{
    @media (max-width:576px) {
        img{
            width: 75% !important;
        }
    }
}
.insta-feed-main{
    background-image: url("../../../public/assets/img/vcard20/theme-bg-2.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.iframe-section{
    background-image: url("../../../public/assets/img/vcard20/theme-bg-2.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .iframe-slider{
        margin-left: -10px;
        margin-right: -10px;
        .slick-slide{
            padding: 4px 10px;
        }
    }
}
.map-iframe-section{
    border-radius: 15px;
    position:relative;
    display: block;
    margin-bottom: 4px;
    iframe{
        display: block;
    }
    &::after, &::before {
      position: absolute;
      content: " ";
      width: 60px;
      height: 60px;
      border-style: solid;
      border-color: $primary;
    }
    &::before {
      top: -3px;
      left: -3px;
      border-top-left-radius: 18px;
      border-width: 1px 0 0 1px;
    }
    &::after {
      right: -3px;
      bottom: -3px;
      border-bottom-right-radius: 18px;
      border-width:0 1px 1px 0;
    }
}
.vector-1{
    left: 10px;
    top: 10px;
}
.vector-2{
    left: 10px;
    top: 20px;
}
.vector-3{
    right: 10px;
    bottom: 2px;
}
.vector-4{
    right: 0;
    bottom: 0;
}
.vector-5{
    right: 10px;
    top: 20px;
}
.card-back{
    border: none !important;
    background-color: #2c2e36 !important;
    border-radius: 20px !important;
    margin: 0 auto !important;
    padding: 20px !important;
    position:relative !important;
    color: $white !important;
    h2{
        color: $white !important;
    }
    &::after, &::before {
      position: absolute;
      content: " ";
      width: 100px;
      height: 100px;
      border-style: solid;
      border-color: $primary;
    }
    &::before {
      top: -3px;
      left: -3px;
      border-top-left-radius: 23px;
      border-width: 1px 0 0 1px;
    }
    &::after {
      right: -3px;
      bottom: -3px;
      border-bottom-right-radius: 23px;
      border-width:0 1px 1px 0;
    }
}
