$primary: #d94b2b !default;
$secondary: #08090a !default;
$gray-100: #767c88 !default;
$light: #f5f5f5 !default;
$white: #ffffff !default;
$black: #000000 !default;
.bg-primary {
    background-color: $primary !important;
}
.bg-light {
    background-color: $light !important;
}
.text-gray-100 {
    color: $gray-100 !important;
}
.text-primary {
    color: $primary !important;
}
.text-secondary {
    color: $secondary !important;
}
.bg-secondary {
    background-color: $secondary !important;
}
@font-face {
    font-family: "HanaleiFill";
    font-style: normal;
    font-weight: 400;
    src: url("../../../public/fonts/Hanalei_Fill/HanaleiFill-Regular.ttf") format("truetype");
    font-display: swap;
}
// @font-face {
//     font-family: "Poppins";
//     font-style: normal;
//     font-weight: 400;
//     src: url(../fonts/Poppins/Poppins-Regular.ttf) format("truetype");
//     font-display: swap;
// }
// @font-face {
//     font-family: "Poppins";
//     font-style: normal;
//     font-weight: 500;
//     src: url(../fonts/Poppins/Poppins-Medium.ttf) format("truetype");
//     font-display: swap;
// }
// @font-face {
//     font-family: "Poppins";
//     font-style: normal;
//     font-weight: 700;
//     src: url(../fonts/Poppins/Poppins-Bold.ttf) format("truetype");
//     font-display: swap;
// }
body {
    font-family: "Poppins";
    font-weight: 400 !important;
    padding-right:0 !important;
    background-color: #d94b2b30;
    &.modal-open {
      padding-right:0!important;
    }
}
.px-40 {
    padding-left: 40px;
    padding-right: 40px;
    @media (max-width: 575px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}
.px-14 {
    padding-left: 14px;
    padding-right: 14px;
    @media (max-width: 575px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}
.pt-100 {
    padding-top: 100px;
}
.mb-30 {
    margin-bottom: 30px;
}
.word-wrap {
    word-break: break-all;
}
.section-heading {
    margin-bottom: 30px;
    h2 {
        font-size: 28px;
        padding-left: 25px;
        display: inline-block;
        margin-bottom: 0;
        color: $secondary;
        position: relative;
        font-family: "HanaleiFill";
        font-style: normal;
        font-weight: 400;
        letter-spacing: 1px;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 10px;
            height: 100%;
            background-color: $primary;
        }
    }
}
.btn {
    border-radius: 0;
    font-weight: 500;
    padding: 10px 23px;
    &:focus {
        box-shadow: none !important;
        outline: none !important;
    }
}
.btn-primary {
    color: $white;
    background-color: $primary;
    border: 1px solid $primary;
    &:hover,
    &:focus,
    &.active {
        color: $primary;
        background-color: $white;
        border: 1px solid $primary;
    }
}
// .btn-secondary {
//     color: $primary;
//     background-color: $secondary;
//     border: 1px solid $primary;
//     &:hover,
//     &:focus,
//     &.active {
//         color: $secondary;
//         background-color: $primary;
//         border: 1px solid $primary;
//     }
// }
.main-content {
    position: relative;
    border-radius: 15px;
    background-color: $white;
}
.banner-section {
    .banner-img {
        width: 100%;
        height: 300px;
        // background-image: url("/assets/img/vcard31/banner-img.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        overflow: hidden;
        @media (max-width:576px) {
            height: auto;
        }
    }
}
.profile-section {
    position: relative;
    .company-name{
        border-bottom: 2px solid $primary;
    }
    .profile-bg-img {
        position: absolute;
        left: -8px;
        top: 115px;
        transform: rotate(55deg);
        z-index: 1;
        img{
            width: 60%;
        }
        @media (max-width:576px) {
            left: -40px;
        }
    }
    .card {
        background-color: transparent !important;
        border: none;
        margin-top: -90px;
        @media (max-width: 576px) {
            flex-direction: column;
            margin-top: 20px;
        }
        .card-img {
            width: 200px;
            height: 200px;
            min-width: 200px;
            overflow: hidden;
            border-radius: 0;
            border: 9px ridge #ebb6aa;
            @media (max-width: 576px) {
                width: 170px;
                height: 170px;
                min-width: 170px;
                margin-top: 0 !important;
                margin: 0 auto !important;
            }
        }
        .card-body {
            padding: 20px;
            margin-top: -80px;
            @media (max-width: 575px) {
                padding: 100px 20px 20px 20px;
                margin-top: -85px;
            }
        }
    }
}
.contact-section {
    position: relative;
    .contact-box {
        border-right: 2px solid #d94b2a;
        border-left: 2px solid #d94b2a;
        padding: 10px;
        border-radius: 15px;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
        flex-direction: column;
        .contact-icon {
            width: 50px;
            min-width: 50px;
            height: 50px;
            background-color: $light;
            margin-bottom: 10px;
        }
    }
}
// .social-media {
//     gap: 20px;
//     @media (max-width: 575px) {
//         gap: 15px;
//     }
//     .social-icon {
//         width: 36px;
//         min-width: 36px;
//         height: 36px;
//         background-color: $primary;
//         svg,
//         path {
//             fill: $white;
//             width: 25px;
//             @media (max-width: 575px) {
//                 width: 20px;
//             }
//         }
//         &:hover {
//             border: 1px solid $primary;
//         }
//         @media (max-width: 425px) {
//             width: 40px;
//             min-width: 40px;
//             height: 40px;
//         }
//     }
// }
.social-media {
    .social-icons {
        gap: 16px;
    }
    .social-icon,
    .social-back {
        width: 40px;
        height: 40px;
        min-width: 40px;
        background-color: $primary;
        border: 1px solid $primary;
        transition: .3s all ease-in-out;
        svg,
        img {
            transition: .3s all ease-in-out;
            width: 20px !important;
            height: 20px !important;
            color: #ffffff !important;
            fill: #ffffff !important;
        }
        &:hover{
            background-color: $white;
            transition: .3s all ease-in-out;
            svg,
            img {
                color: $primary !important;
                fill: $primary !important;
            }
        }
    }
}
.our-services-section {
    position: relative;
    .services-bg-img {
        position: absolute;
        left: 250px;
        top: 63px;
        img {
            width: 100%;
        }
        @media (max-width: 768px) {
            img {
                width: 85%;
            }
        }
        @media (max-width: 575px) {
            left: 220px;
            top: 42px;
            img {
                width: 65%;
            }
        }
    }
    .services {
        .services-slider-view {
            .slick-list {
                height: 250px !important;
                padding-top: 5px !important;
                @media (max-width: 500px) {
                    height: 250px !important;
                }
            }
        }
        .service-card {
            position: relative;
            padding: 15px;
            background-color: $light;
            border-radius: 15px;
            border-bottom: 2px solid $primary;
            .card-img {
                width: 40px;
                height: 40px;
                min-width: 40px;
                aspect-ratio: 1;
                border-radius: 5px;
                img{
                    aspect-ratio: 1;
                    border-radius: 5px;
                }
            }
            .card-body {
                p {
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    -webkit-line-clamp: 5;
                }
            }
        }
    }
}
.appointment-section {
    position: relative;
    .appointment-bg-img {
        position: absolute;
        right: 30px;
        top: 50px;
        img {
            width: 100%;
        }
        @media (max-width: 575px) {
            right: 20px;
            top: 40px;
            img {
                width: 75%;
            }
        }
    }
    .appointment {
        .appointment-input {
            width: 100%;
            height: 50px;
            padding: 12px 25px;
            border-radius: 25px;
            background-color: $white;
            border: none;
            border-left: 3px solid $primary !important;
            border-right: 3px solid $primary !important;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
            color: $secondary;
            &::placeholder {
                color: $gray-100;
            }
            &:focus {
                outline: none;
            }
            .calendar-icon {
                position: absolute;
                right: 20px;
                top: 18px;
            }
        }
        .calendar-icon {
            position: absolute;
            right: 18px;
            top: 11px;
        }
        .hour-input {
            height: 50px;
            font-size: 14px;
            padding: 13px;
            border-radius: 0;
            background-color: $light;
        }
        .btn-primary {
            max-width: 300px;
        }
    }
}
.gallery-section {
    position: relative;
    .gallery-slider {
        position: relative;
        padding-left: 20px;
        @media (max-width: 575px) {
            padding-left: 0;
        }
        .gallery-img {
            margin: 0 auto;
            max-width: 100%;
            max-height: 180px;
            height: 180px;
            overflow: hidden;
            border-radius: 15px;
            background: linear-gradient(150deg, rgba(218, 75, 43, 0.45) 0%, white 100%);
            img,
            iframe {
                width: 100%;
                object-fit:cover;
                height: 100%;
            }
            .gallery-file-link {
                display: block;
                width: 100%;
                height: 100%;
            }
            .gallery-file-item {
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                width: 100%;
                height: 100%;
            }
        }
        .slide-arrow {
            width: 30px;
            height: 30px;
            min-width: 30px;
            border: none;
            border-radius: 50%;
            background-color: transparent;
            color: $primary;
            position: absolute;
            z-index: 9;
            top: -60px;
            font-size: 20px;
        }
        .prev-arrow {
            right: 70px;
        }
        .next-arrow {
            right: 26px;
        }
    }
}
.product-section {
    position: relative;
    .product-bg-img {
        position: absolute;
        right: 30px;
        top: 60px;
        img {
            width: 100%;
        }
        @media (max-width: 768px) {
            img {
                width: 85%;
            }
        }
        @media (max-width: 575px) {
            right: 20px;
            top: 40px;
            img {
                width: 65%;
            }
        }
    }
    .product-slider {
        .product-card {
            max-width: 250px;
            margin: auto;
            height: 100%;
            border-radius: 0;
            border: none;
            overflow: hidden;
            padding: 10px;
            height: 280px;
            background-size: cover;

            @media (max-width: 575px) {
                margin: 0 auto;
            }
            .card-img {
                width:100%;
                height:100%;
                object-fit:contain;
                img {
                    object-fit: contain;
                }
            }
            .desc-div {
                position:absolute;
                margin:10px;
                bottom:0;
            }
            &.card-1 {
                // background-image: url(../images/handyman/product-img1.png);
                background-image: url("/assets/img/vcard31/product-img1.png");
            }
            &.card-2 {
                // background-image: url(../images/handyman/product-img2.png);
                background-image: url("/assets/img/vcard31/product-img2.png");
            }
            .product-desc {
                background-color: $white;
                padding: 10px;
                box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
                width: 210px !important;
                .product-name{
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
                p {
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }
        }
    }
}
.testimonial-section {
    position: relative;
    .testimonial-bg-img {
        position: absolute;
        right: 150px;
        top: 40px;
        img {
            width: 100%;
        }
        @media (max-width: 768px) {
            img {
                width: 85%;
            }
        }
        @media (max-width: 575px) {
            right: 20px;
            top: 30px;
            img {
                width: 65%;
            }
        }
    }
    .testimonial-slider {
        position: relative;
        .testimonial-card {
            position: relative;
            border: none;
            background-color: $light;
            padding: 20px;
            margin-top: 50px;
            .testimonial-profile-img {
                margin: 0 auto;
                width: 100px;
                height: 100px;
                min-width: 100px;
                border-radius: 50%;
                overflow: hidden;
                position: absolute;
                top: -50px;
                left: 0;
                right: 0;
                margin: auto;
            }
            .card-body {
                .desc {
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }
        }
        .slide-arrow {
            width: 30px;
            height: 30px;
            min-width: 30px;
            border: none;
            border-radius: 50%;
            background-color: transparent;
            color: $primary;
            position: absolute;
            z-index: 9;
            top: -60px;
            font-size: 20px;
        }
        .prev-arrow {
            right: 70px;
        }
        .next-arrow {
            right: 26px;
        }
    }
}
.blog-section {
    position: relative;
    .blog-bg-img {
        position: absolute;
        right: 30px;
        top: 56px;
        img {
            width: 100%;
        }
        @media (max-width: 768px) {
            img {
                width: 85%;
            }
        }
        @media (max-width: 575px) {
            right: 20px;
            top: 45px;
            img {
                width: 65%;
            }
        }
    }
    .blog-card {
        min-height: 170px;
        max-width: 248px;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        @media (max-width: 767px) {
            max-width: 240px;
        }
        .blog-img {
            width: 100%;
            height: 150px;
        }
        .blog-head {
            display: -webkit-box !important;
            -webkit-line-clamp: 1 !important;
            -webkit-box-orient: vertical !important;
            overflow: hidden !important;
        }
        .blog-desc {
            display: -webkit-box !important;
            -webkit-line-clamp: 3 !important;
            -webkit-box-orient: vertical !important;
            overflow: hidden !important;
        }
    }
}

.business-hour-section {
    position: relative;
    .hour-bg-img {
        position: absolute;
        left: 20px;
        bottom: 0;
        img {
            width: 100%;
        }
        @media (max-width: 768px) {
            img {
                width: 85%;
            }
        }
        @media (max-width: 575px) {
            left: 5px;
            img {
                width: 55%;
            }
        }
    }
    .home-img {
        position: absolute;
        left: 0;
        top: 50px;
        img {
            width: 100%;
        }
        @media (max-width: 575px) {
            top: 30px;
            img {
                width: 65%;
            }
        }
    }
    .business-hours {
        .hour {
            background-color: $white;
            border-radius: 10px;
            color: #d94b2b;
            padding: 12px 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            border-left: 3px solid #d94b2a;
            border-right: 3px solid #d94b2a;
            flex-direction: column;
            box-shadow: rgba(0, 0, 0, 0.35) 0px -37px 36px -29px inset;
        }
        div {
            font-size: 14px;
        }
    }
}
.qr-code-section {
    position: relative;
    .qr-code-main-box{
        background-color: #f8ddd7;
        border-radius: 30px;
        position: relative;
        margin-top: 60px;
        padding: 70px 30px 30px 30px;
        max-width: 350px;
        margin: 70px auto 0 auto;
    }
    .qr-bg-img {
        position: absolute;
        top: 10px;
        right: 0;
        img {
            width: 100%;
        }
        @media (max-width: 768px) {
            img {
                width: 85%;
            }
        }
        @media (max-width: 575px) {
            img {
                width: 65%;
            }
        }
    }
    .qr-profile-img {
        position: absolute;
        left: 0;
        right: 0;
        top: -45px;
        margin: 0 auto;
        width: 90px;
        height: 90px;
        min-width: 90px;
        border-radius: 50%;
        border: 3px solid $primary;
        overflow: hidden;
    }
    .qr-box{
        width: fit-content;
    }
    .qr-code-img {
        width: 130px;
        height: 130px;
        min-width: 130px;
        background-color: $light;
        img, svg{
            width: 100%;
            height: 100%;
        }
    }
}
.contact-us-section {
    position: relative;
    .add-to-bag-img {
        position: absolute;
        right: 10px;
        top: 30px;
        img {
            width: 100%;
        }
        @media (max-width: 575px) {
            right: 0px;
            img {
                width: 75%;
            }
        }
    }
    .contact-bg-img {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        z-index: -1;
        img {
            width: 100%;
        }
    }
    .contact-form {
        border-radius: 10px;
        padding: 20px;
        border-color: white;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
        form {
            .form-control {
                padding: 10px;
                border: none;
                border-bottom: 1px solid #d94b2b;
                border-radius: 10px;
                font-size: 14px;
                color: $black;
                background: linear-gradient(150deg, rgba(218, 75, 43, 0.45) 0%, white 100%);
                &::placeholder {
                    color: $gray-100;
                }
                &:focus {
                    box-shadow: none;
                    outline: none;
                }
            }

            .btn {
                // max-width: 205px;
                width: 100%;
            }
        }
    }
}
.create-vcard-section {
    position: relative;
    .create-vcard-bg-img {
        position: absolute;
        top: 5px;
        right: 15px;
        img {
            width: 100%;
        }
        @media (max-width: 768px) {
            top: -17px;
            img {
                width: 85%;
            }
        }
        @media (max-width: 575px) {
            top: 19px;
            right: 5px;
            img {
                width: 50%;
            }
        }
    }
    .add-to-contact-bg-img {
        position: absolute;
        bottom: 0;
        left: 20px;
        img {
            width: 100%;
        }
        @media (max-width: 768px) {
            img {
                width: 85%;
            }
        }
        @media (max-width: 575px) {
            left: 15px;
            img {
                width: 50%;
            }
        }
    }
    .delivery-van-img {
        position: absolute;
        left: 10px;
        top: 10px;
        img {
            width: 100%;
        }
        @media (max-width: 575px) {
            img {
                width: 65%;
            }
        }
    }
    .vcard-link-card {
        padding: 16px;
        background: linear-gradient(150deg, rgba(218, 75, 43, 0.45) 0%, white 100%);
        border: 1px solid #f5f5f5;
        border-radius: 14px;
        .link-text {
            font-size: 18px;
            word-break: break-all;
            @media (max-width: 575px) {
                font-size: 16px;
            }
        }
    }
}
.add-to-contact-section {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 65px;
    z-index: 9;
}
.btn-section {
    .fixed-btn-section {
        .handyman-bars-btn {
            background-color: $primary;
        }
        .sub-btn {
            .handyman-sub-btn {
                background-color: $white;
                border: 1px solid $primary;
            }
        }
    }
}
.slick-dotted.slick-slider {
    margin-bottom: 10px;
}
.slick-dots {
    position: relative;
    bottom: -15px;
    li {
        margin: 0 4px !important;
        width: 8px !important;
        height: 8px !important;
        button {
            width: 8px !important;
            height: 8px !important;
            font-size: 0 !important;
            &:before {
                font-size: 0 !important;
                width: 8px !important;
                height: 8px !important;
                border-radius: 10px;
                background-color: #d94b2b30;
                content:"" !important;
            }
        }
        &.slick-active {
            button {
                &:before {
                    opacity: 1;
                    background-color: $primary;
                }
            }
        }
    }
}

//custom css

.px-30 {
    padding-left: 30px;
    padding-right: 30px;
    @media (max-width: 575px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}
.fs-12 {
    font-size: 12px;
}
.fs-14 {
    font-size: 14px;
}
.fs-18 {
    font-size: 18px;
    @media (max-width: 575px) {
        font-size: 16px;
    }
}
.fs-20 {
    font-size: 20px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-40 {
    margin-top: 40px;
    @media (max-width: 575px) {
        margin-top: 30px;
    }
}
.mb-40 {
    margin-bottom: 40px;
    @media (max-width: 575px) {
        margin-bottom: 30px;
    }
}
.mx-30 {
    margin-left: 30px;
    margin-right: 30px;
    @media (max-width: 575px) {
        margin-left: 20px;
        margin-right: 20px;
    }
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-10 {
    margin-bottom: 10px;
}
.pb-50 {
    padding-bottom: 50px;
    @media (max-width: 575px) {
        padding-bottom: 40px;
    }
}
.pt-40 {
    padding-top: 40px;
    @media (max-width: 575px) {
        padding-top: 25px;
    }
}
.pb-40 {
    padding-bottom: 40px;
    @media (max-width: 575px) {
        padding-bottom: 25px;
    }
}
.pt-60 {
    padding-top: 60px;
    @media (max-width: 575px) {
        padding-top: 40px;
    }
}
.pb-60 {
    padding-bottom: 60px;
    @media (max-width: 575px) {
        padding-bottom: 40px;
    }
}
.pt-30 {
    padding-top: 30px;
    @media (max-width: 575px) {
        padding-top: 20px;
    }
}
.pb-30 {
    padding-bottom: 30px;
    @media (max-width: 575px) {
        padding-bottom: 20px;
    }
}
.pt-50 {
    padding-top: 50px;
    @media (max-width: 575px) {
        padding-top: 40px;
    }
}
.pt-80 {
    padding-top: 80px;
    @media (max-width: 575px) {
        padding-top: 40px;
    }
}
.pb-80 {
    padding-bottom: 80px;
    @media (max-width: 575px) {
        padding-bottom: 40px;
    }
}
.px-10 {
    padding-left: 10px;
    padding-right: 10px;
}
.fw-5 {
    font-weight: 500;
}
.fw-6 {
    font-weight: 600;
}
.fw-7 {
    font-weight: 700;
}
.fs-12 {
    font-size: 12px;
}
.fs-36 {
    font-size: 36px;
    @media (max-width: 575px) {
        font-size: 30px;
    }
}
.fs-30 {
    font-size: 30px;
    @media (max-width: 575px) {
        font-size: 28px;
    }
}
.fs-28 {
    font-size: 28px;
    @media (max-width: 575px) {
        font-size: 24px;
    }
}
a {
    text-decoration: none;
}
.main-content {
    max-width: 576px;
    min-height: 100vh;
}
.object-fit-cover {
    object-fit: cover;
}
.flex-1 {
    flex: 1;
}
.cursor-pointer {
    cursor: pointer;
}
.btn-section {
    position: absolute;
    top: 50%;
    right: 80px;
    z-index: 9;
    .fixed-btn-section {
        position: fixed;
        top: 50%;
        display: flex;
        align-items: center;
        .bars-btn {
            width: 65px;
            height: 65px;
            min-width: 65px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .sub-btn {
            position: absolute;
            right: 75px;
            display: none;
            .social-btn {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                i {
                    font-size: 24px;
                }
            }
        }
    }
}
.slick-dots {
    li {
        margin: 0;

        button {
            &:before {
                font-size: 30px;
                opacity: 1;
            }
        }
    }
}
.language {
    ul {
        list-style: none;

        .lang-list {
            padding:4px 12px;
            background: #d94b2b;
            border: none;
            outline: none;
            border-radius:6px;
            transition: all 0.3s ease;
            width: -moz-fit-content;
            width: fit-content;

            .lang-head {
                color: #ffffff;

                i {
                    color: #ffffff;
                }
            }

            .lang-hover-list {
                margin: 15px 0 0;
                font-size: 15px;
                width: 115%;
                left: unset !important;
                right: 0;
                min-width: 75px;

                li {
                    padding: 5px 12px;

                    &:hover {
                        background-color: #d94b2b30 !important;

                        a {
                            color: $primary !important;
                        }
                    }

                    &.active {
                        background-color: #d94b2b30 !important;

                        a {
                            color: $primary !important;
                        }
                    }

                    a {
                        color: #5e6278 !important;
                        text-decoration: none;
                        font-size: 14px !important;
                    }

                    img {
                        height: 16px !important;
                        width: 20px !important;
                    }
                }
            }
        }
    }
}
.add-contact-btn {
    box-shadow: none !important;
    width: 200px !important;
    width: 250px !important;
    height: 40px !important;
    margin: 0 auto;
    color: #ffffff;
    z-index: 9999;
    padding: 7px;
    i {
        font-size: 1rem;
    }
}
.send-btn {
    height: 40px;
    padding: 6px 30px;
    width: 250px !important;
}
.insta-feed {
    max-height: 1000px !important;
    overflow-x: hidden;
    overflow-y: scroll;
}
.insta-feed::-webkit-scrollbar {
    width: 0px;
}

.insta-feed::-webkit-scrollbar-thumb {
    background-color: #f1faff !important;
}

.insta-feed::-webkit-scrollbar-track {
    background-color: #f1faff !important;
}
.insta-feed-iframe iframe {
    border-radius: 15px !important;
    border: none !important;
}
.instagram-btn {
    flex: 1;
    position: relative;
    background: transparent;
    &::before {
        content: "";
        position: absolute;
        width: 0%;
        height: 2px;
        top: 100%;
        background-color: #d94b2b;
        transition: width 0.3s ease;
    }
    &.active::before {
        width: 80%;
    }
    .svg-post-icon rect,
    .svg-post-icon line {
        stroke: #d94b2b;
    }
    &.active .svg-post-icon rect,
    &.active .svg-post-icon line {
        fill: #d94b2b;
        stroke: #f9f5f9;
    }
    .svg-reels-icon .not-active-svg {
        display: block;
    }
    .svg-reels-icon .active-svg {
        display: none;
    }
    .svg-reels-icon path.not-active-svg,
    .svg-reels-icon rect {
        fill: #d94b2b;
    }
    .svg-reels-icon path {
        fill: #d94b2b;
    }
    &.active .svg-reels-icon .not-active-svg,
    &.active .svg-reels-icon rect {
        display: none;
    }
    &.active .svg-reels-icon .active-svg {
        display: block;
    }
}
.insta-toggle {
    border-radius: 35px !important;
    margin: 10px !important;
    padding: 5px !important;
    transition: all 0.3s ease !important;
}
#instafeed-container {
    a img {
        width: 44%;
        height: 200px !important;
        margin: 11px;
        border-radius: 15px;
    }
}
.instagram-media {
    min-width: 50% !important;
    max-width: 100% !important;
}
.modal-backdrop {
    background-color: transparent !important;
}
.activeSlot {
    background-color: #d94b2b !important;
    color: #f5f2fb !important;
    cursor: pointer;
}
.time-slot {
    font-size: 15px;
    background: linear-gradient(150deg, hsl(11deg 70% 51% / 45%) 0%, hsl(0, 0%, 100%) 100%);
    color: #211c29 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 12px;
    cursor: pointer;
    border: 1px solid $primary;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 25px;
    &:hover,
    &.activeSlot {
        background: linear-gradient(270deg, hsl(11deg 70% 51% / 45%) 0%, hsl(0, 0%, 100%) 100%);
    }
}
.vcard31-sticky-btn {
    background: $primary;
    color: #d94b2b;
    border: 1px solid #d94b2b;
    border-radius: 5px;
    height: 40px;
}

.vcard31-btn-group {
    width: 50px;
    height: 50px;
    color: #d94b2b;
    background-color: $white;
    border-radius: 50px !important;
}
.modal {
    z-index: 99999 !important;
    background-color: #00000080;
    .news-modal {
        #newsLatter-content {
            .form-control{
                padding: .375rem .75rem !important;
                font-size: 0.875rem !important;
            }
            box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
            border: none;
            border-radius: 0.475rem;
            outline: 0;
            background-color: #212020;
            .newsmodal-header {
                .btn-close {
                    background: transparent
                        url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ADB5BD'%3E%3Cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3E%3C/svg%3E")
                        50%/1em auto no-repeat;
                        position: absolute !important;
                        right: 16px !important;
                        top: 16px !important;
                        z-index: 1 !important;
                }
                .newsmodal-title {
                    font-size: 50px;
                    text-align: center !important;
                    color: #d94b2b;
                }
            }

            .modal-body {
                padding: 1.75rem;
                .content {
                    color: #d94b2b;
                    font-size: 23px;
                }
                .modal-desc {
                    color: silver;
                    font-size: 16px;
                    font-weight: 400;
                }
                .email-input{
                    border-radius: 8px !important;
                    .btn{
                        padding: 4px 10px !important;
                        border-radius: 8px !important;
                    }
                }
                .required {
                    &:after {
                        color: #f62947;
                        content: "*";
                        font-size: inherit;
                        font-weight: 700;
                        position: relative;
                    }
                }

                .input-box {
                    background-color: #f5f8fa;
                    border: unset;
                    color: #5e6278;
                    transition: all 0.2s ease;
                    font-size: 1.1rem;
                    line-height: 1.5;
                    padding: 0.75rem 1rem;
                    border-radius: 0.475rem;

                    &:focus {
                        box-shadow: unset;
                        background-color: #eef3f7;
                    }
                }
                .input-group {
                    background: black;
                    border: none;
                }
            }
            .modal-footer {
                padding: 1.875rem;
                border-top: none !important;
                .btn {
                    padding: 10px 20px !important;
                    border-radius: 0.475rem !important;
                }
                .submit-btn {
                    background-color: #d94b2b !important;
                    border: unset;
                    outline: unset;
                    color: $white;
                    padding: 10px 20px !important;
                    margin-top: 26px;

                    &:hover {
                        background-color: #d94b2b !important;
                    }

                    &:focus {
                        box-shadow: unset;
                    }
                }
            }
        }
    }
}
#email-send {
    background-color: #d94b2b;
    color: white !important;
    font-size: 15px;
    border: none;
    border-radius:8px;
}
#newsLatterModal {
    .modal-dialog{
        @media (min-width:576px) {
            max-width: 420px !important;
            min-height: calc(100% - 5rem) !important;
            transform: none !important;
        }
    }
}
.animate-bottom {
    position: relative;
    animation: animatebottom 0.4s;
}

@keyframes animatebottom {
    from {
        bottom: -300px;
        opacity: 0;
    }

    to {
        bottom: 0px;
        opacity: 1;
    }
}
.support-banner {
    width: 100%;
    max-width: 520px;
    height: auto !important;
    position: fixed;
    bottom: 20px;
    z-index: 99999 !important;
    background: #f6f6f6;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0 7px 8px 0 #848181, 0 0px 11px 0 #000000;
    margin-left: 32px;
    margin-right: 32px;
    @media (max-width: 575px) {
        margin-left: 0px;
        margin-right: 0px;
    }

    .support_heading {
        font-size: 27px;
        margin-top: 30px;
    }
    .support_text {
        margin-bottom: 22px;
        max-height: 123px !important;
        overflow-x: hidden;
        overflow-y: scroll;
        margin-top: 13px;
        &::-webkit-scrollbar {
            width: 4px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background: #888;
        }
    }
}

@media (max-width: 767px) {
    .support-banner {
        max-width: 476px !important;
    }
}

@media (max-width: 575px) {
    .support-banner {
        max-width: 100% !important;
    }
}

.act-now {
    padding: 7px 21px;
    background: $primary;
    border: none;
    outline: none;
    transition: all 0.3s ease;
    transform: translateY(0);
    text-decoration: none;
    color: white !important;
    position: relative;
    bottom: 10px;
    display: inline-block !important;
    border-radius: 15px !important;
}

.banner-close {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 20px !important;
    background: none;
    border: none;
}

.vcard-thirtyone {
    &.main-content {
        max-width: 576px;
        text-align: center !important;
        background-color: #d94b2b;
        color: #211c29;
    }

    .vcard-thirtyone-heading {
        font-weight: 500;
        font-size: 28px;
        color: #ffffff !important;
    }
}
.vcard-thirtyone-btn {
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: #ffffff !important;
    color: #d94b2b !important;
    border-radius: 5px;
    transition: all 0.3s ease;
    width: fit-content;
}
.vcard-one__product {
    .product-card {
        margin: 10px auto !important;
        width: 75% !important;
        @media (max-width: 575px) {
            width: 99% !important;
        }
        .product-img {
            height: 200px !important;
        }
    }
}
.product-heading {
    font-size: 28px !important;
    color: #d94b2b !important;
}
.buy-product {
    padding: 10px 20px;
    background: #d94b2b;
    border: none;
    outline: none;
    color: #ffffff;
    border-radius: 5px;
    transition: all 0.3s ease;

    &:hover {
        background-color: transparentize($primary, 0.1);
    }
}
.back-btn  {
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: #d94b2b;
    color: #ffffff;
    border-radius: 5px;
    transition: all 0.3s ease;
    width: fit-content;
}
.share-modal-close-btn{
    padding-left: 10px !important;
}
.appointmentAdd {
    margin-bottom: 55px;
}
.main-content.rtl {
    .profile-bg-img {
        left: auto !important;
        right: -20px;
        transform: rotate(309deg);
    }
    .section-heading{
        text-align: right;
        h2{
            padding-left: 0px;
            padding-right: 25px;
            &::after{
                left: auto;
                right: 0;
            }
        }
    }
    .vector-1 , .qr-bg-img , .vector-4 {
        left: 0;
        right: auto;
        transform: scalex(-1);
    }
    .vector-2{
        left: auto;
        right: 0;
    }
    .appointment-bg-img , .product-bg-img , .blog-bg-img{
        right: auto;
        left: 30px;
    }
    .prev-arrow{
        left: 24px;
        right: auto;
    }
    .next-arrow {
       right: auto;
        left: 70px;
    }
    .testimonial-bg-img{
        left: 150px;
        right: auto;
        transform: scaleX(-1);
    }
    .vector-3{
        left: 37px;
        right: auto;
    }
    .hour-bg-img{
        left: auto;
        right: 20px;
    }
    .vector-5 {
        left: 40px;
        right: auto;
    }
    .create-vcard-bg-img{
        left: 15px;
        right: auto;
    }
    .add-to-contact-bg-img{
        left: auto;
        right: 20px;
    }
    .ms-3 {
        margin-right: 1rem !important;
    }
    .me-2 {
        margin-left: 0.5rem !important;
    }
    .me-3 {
        margin-left: 1rem !important;
    }
    .profile-section{
        .card-img {
            margin-left: 0 !important;
            margin-right: auto !important;
            @media (max-width:576px) {
                margin-left: auto !important;
            }
        }
    }
    .calendar-icon {
        left: 18px;
        right: auto;
    }

        .text-start {
            text-align: right !important;
        }
    @media (min-width: 576px) {
        .text-sm-start {
            text-align: right !important;
        }
}
    .profile-section .card .card-img {
        left: 0;
        right: auto;
}
}

.profile-section .card[dir="rtl"] {
    .card-img {
        margin-right: 0;
        margin-left: 40px;
    }
}

.btn-section.rtl {
    right: auto !important;
    left: 15px !important;
}

.btn-section.rtl {
    right: auto !important;
    left: 15px !important;
}


.modal-content[dir='rtl'] {
    .pl-50{
      padding-right:50px;
      }
      .text-center {
      text-align:start !important;
      }
      .arrow {
        transform: rotate(180deg) !important;
    }
    .input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
      border-bottom-left-radius: 0 !important;
      border-top-left-radius: 0 !important;
      border-top-right-radius:0.313rem !important;
      border-bottom-right-radius:0.313rem !important;
  }
  .input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not( .valid-feedback ):not(.invalid-tooltip):not(.invalid-feedback) {
      border-bottom-right-radius: 0 !important;
      border-top-right-radius: 0 !important;
      border-top-left-radius:0.313rem !important;
      border-bottom-left-radius:0.313rem !important;
  }
  }

  .slick-prev:before {
    color: black !important;
  }
  .slick-next:before {
    color: black !important;
}
.toast-title {
    margin-right: 12px;
 }
.toast-message{
    margin-right: 12px;
}
.input-box {
    padding: 20px;
    display: grid;
    place-items: center;
    border-bottom: 1px solid #d94b2a !important;
    margin-bottom: 5px;
    cursor: pointer;
}

.input-box h4 {
    margin: 0;
    color:#767c88 !important;
    font-size: medium !important;
}

.file-list li {
    color: #767c88 !important;
}

 .selected-files .item {
    border-bottom: 1px solid #d94b2a !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
 }

 .file-list .name {
    flex-grow: 1;
  }

  .file-list .remove {
    margin-left: 8px;
    cursor: pointer;
    color: red;
  }

  .file-list .remove svg {
    width: 16px;
    height: 16px;
  }

 .selected-files h5 {
    color:#212529 !important;
    font-size: medium !important;
    margin-top: 9px !important;
    margin-bottom: 10px !important;
}

small {
    font-size: 12px;
    color:#767c88 !important;
}

.file-list {
    overflow-y: auto;
    list-style-type: none !important;
    padding: 0 10px 0 0;
    margin: 0;
    max-height: 220px;
    font-size: medium !important;
}

.modal {
    padding-right:0 !important;
    &.show {
        padding-right:0 !important;
        .modal-dialog {
            transform: translateY(35px) !important;
            @media (min-width: 576px) {
                    margin: 2.5rem auto !important;
                    max-width: 520px !important;
            }
        }
    }
    .modal-dialog {
        transform: translateY(95px) !important;
        &.modal-bottom {
height:87vh !important;
        }
    }
}
.pwa-support {
    width: 100%;
    max-width: 400px;
    height: auto !important;
    position: fixed !important;
    bottom: 20px;
    z-index: 99999 !important;
    background: white;
    padding: 24px;
    border-radius: 32px;
    box-shadow: 0 7px 8px 0 #848181, 0 0px 11px 0 #000000;;
    left: 0;
    right: 0;
    margin: 0 auto;
    .pwa-heading{
        font-size: 20px;
        margin-bottom: 12px;
    }
    .pwa-text{
        margin-bottom: 16px;
        font-size: 0.875rem !important;
}
}
.pwa-install-button{
    background: #d94b2a!important;
    color: $white !important;
    border-radius: 15px !important;
    padding: 0.563rem 1.563rem !important;
    font-weight: 400 !important;
    font-size: 0.875rem !important;
}
.pwa-cancel-button{
    background-color: #adb5bd !important;
    color: #000000;
    border-radius: 15px !important;
    padding : 0.563rem 1.563rem;
    border : none !important;
    font-weight: 400 !important;
    font-size: 0.875rem !important;
    &:hover{
        background-color:#d1d5db!important;
        border : none !important;
        color : #000000 !important;
    }
}
.product-img-slider {
    .slick-dots {
        position: relative !important;
        width: 130px !important;
        margin: 0 auto !important;
        display: flex !important;
        justify-content: center !important;
        overflow: hidden !important;
        bottom: 30px !important;
        @media (max-width: 575px) {
            width: 80% !important;
        }
        .slick-active{
                button{
                    &::before{
                        opacity: .75 !important;
                    }
                }
        }
        li{
            button{
                content: "." !important;
                &::before{
                        font-size: 20px !important;
                        opacity: 0.75 !important;
                }
            }
        }
    }

}
.card-margin{
    .card-body{
        margin-top: 50px !important;
    }
}
.youtube-link-31{
    padding-top: 56.25%;
    position: relative;
    iframe{
        position: absolute !important;
        top:0;
        left: 0 !important;
        height: 100% !important;
        width: 100 !important;
    }
}
// @media (max-width: 425px) {
//     .profile-margin{
//         margin-top: 15px !important;
//     }
// }
// @media (max-width: 375px) {
//     .profile-margin{
//         margin-top: 0px !important;
//     }
// }
.vector-all{
    @media (max-width:576px) {
        img{
            width: 75% !important;
        }
    }
}
.vector-1{
    right: 0;
    bottom: -164px;
}
.vector-2{
    left: 0;
    bottom:0px;
}
.vector-3{
    right: 37px;
    top:37px;
    @media (max-width:576px) {
        top: 22px;
    }
}
.vector-4{
    right: 0;
    bottom: -50px;
}
.vector-5{
   right: 40px;
   top: 0;
}
.row-gap-20px{
    row-gap: 20px;
}